{% extends "base.html" %}

{% block content %}
<div id="map" style="height: 600px;"></div>
<script>
    var map = L.map('map').setView([{{ latitude }}, {{ longitude }}], 13);

    //OpenStreetMap tile layer
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap contributors'
    }).addTo(map);

    // marker
    L.marker([{{ latitude }}, {{ longitude }}]).addTo(map)
        .bindPopup('Your Marker')
        .openPopup();
</script>
{% endblock %}
