@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #34495e;
    padding: 20px;
    color: #fff;
}

header h1 {
    display: inline;
    font-size: 24px;
}

nav ul {
    list-style: none;
    float: right;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-color: #2980b9;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    background-color: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
}

.btn:hover {
    background-color: #c0392b;
}

.features {
    padding: 50px 0;
    background-color: #ecf0f1;
}

.features h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 28px;
}

.feature-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 22%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.feature-item h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

footer {
    background-color: #34495e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

@layer components {
    .link-active {
        @apply flex justify-center items-center xl:justify-start text-blue-400 
    }
    .link {
        @apply flex justify-center items-center xl:justify-start text-gray-800 dark:text-white hover:text-blue-400 dark:hover:text-blue-400 transition duration-300 ease-in-out 
    }
    .icon {
        @apply hidden xl:block xl:ml-4 font-bold
    }
}

@layer utilities {
     /* width */
  ::-webkit-scrollbar,
  .dark ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    /* border-radius: 100vh; */
    background: #fff;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border: 2px solid #fff;
  }

  /* Track */
  .dark ::-webkit-scrollbar-track {
    background: #374151;
  }

  /* Handle */
  .dark ::-webkit-scrollbar-thumb {
    background: #6b7280;
    border: 2px solid #374151;
  }
}
